.display-wrapper {
  display: flex;
  flex-direction: column;
  height: 60px;
  border: 2px solid #ebebeb;
  padding: 10px;
  border-radius: 10px;
  margin: 0 10px 10px;

  &:hover {
    border: 2px solid #4285f4;
  }
}
