.display-wrapper {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 95%;
  border: 2px solid #ebebeb;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;


  &:hover {
    border: 2px solid #4285f4;
  }
}
